@import 'https://fonts.googleapis.com/css?family=Great+Vibes|Montserrat|Roboto';

/* High Level styling */
#wrapper {
	margin: 0 auto;
	max-width: 1400px;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
h1 {
	font-family: 'Great Vibes', cursive;
	text-align: center;
	font-size: 90px;
	font-weight: 100;
	padding-top: 1.5em;
	margin: 0 0 20px 0;
}
.section_title {
	padding: 100px;
}
h2 {
	font-size: 1.6em;
	font-family: 'Roboto', sans-serif;
	margin: 20px 0px 2px 0px;
}
h3 {
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 4px;
	font-weight: 900;
}
h4 {
	font-size: 1.2em;
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	font-weight: 900;
}
p {
	font-family: 'Roboto', sans-serif;
}
.contactP p{
	margin-top: 5px;
}
ul {
	font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
li {
	margin-left: 25px;
}
hr {
	margin-top: 0px;
 	border: 0; 
 	height: 1px; 
 	background: #333; 
 	background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#intro_nav li, .title_nav li {
    display: inline;
    margin-left: 16px;
    width: 60px;
}
li a, a {
	text-decoration: none;
	color: inherit;
}

.blue {
	background-color: #1f9b9c;
	float:left;
}
.coral{
	background-color: #e16855;
	float: right;
}
.content {
	overflow: scroll;
	background-color: #FFF;
	height: 100%;
	width: 50%;
}
.content, p h2 ul{
	padding: 0 0%;
}
.content, p li {
	font-size: .97vw
}
.content_container {
	margin: 2% 4%;
}
.title {
	height: 100%;
	width: 50%;
}
.title h1{
	height:;
}
.left {
	float: left;
}
.right {
	float: right;
}
/* intro section */
#intro_header {
	position: absolute;
	color: #1f9b9c;
	font-size: 75px;
	margin: 0px 10px 10px 93px;
	padding-top: 0px;
	z-index: -1;
}
#intro_nav{
	text-align: center;
	color: #e16855;
	margin: 95px 30px 0px 0px;
	padding-bottom: 30px;
}
#intro_li {
	padding-left: 60px;
}
.title_nav{
	text-align: center;
}
img {
	display: block;
	height: 55%;
	width: 60%;
	margin: 40px auto 20px auto;
	border-radius: 30px 90px 15px;
}
body {
	background-color: #292726;
}
#intro {
	width: 550px;
	margin: 0 auto;
	min-height: 100vh;
}
header {
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #e16855;
	text-align: center;
}

#about {
	height: 54vw;
}
#resume {
	height: 57vw;
}
#contact {
	height:50vw;
}

.thanks {
	height: 27vh;
}
.thanks h1 {
	margin-top: 20px;
	padding-top: 0px;
	color: #e16855;
	font-size: 8vw;
}
span {
	color: #1f9b9c;
}
@media (max-width: 800px) {
	h1 {
		font-size: 5em;
		padding-top: .2em;
	}
	img {
		display: block;
		height: 60%;
		width: 60%;
		margin: 20px auto 20px auto;
		border-radius: 30px 90px 15px;
	}
	header {
		margin: 10px auto 0 auto ;
	}
	#about {
		height: 75vw;
	}
	#resume {
		height: 82vw;
	}
	#contact {
		height:80vw;
	}
	#intro_header {
		position: relative;
		margin: 30px auto;
	}

	.thanks h1 {
		padding-top: .1em;
	}
	.title ul {
		display: none;
	}
	.content, p li{
		font-size: 1.5vw;
	}
	.left {
		float: none;
	}
	.right {
		float: none;
	}

	.content {
		float: left;
		width: 100%;
	}
	.title {
		margin-top: 10px;
		height: 140px;
		width: 100%;
	}
	#intro_nav{
		display:none;
	}
}

@media only screen and (max-width: 565px) {
	header {
		text-align: center;
	}
	#intro {
	width: 90vw;
	margin: 0 auto;
	min-height: 200px;
}
	img {
		display: block;
		height: 60%;
		width: 60%;
		margin: 20px auto 20px auto;
		border-radius: 0;
	}

	#intro_header {
		font-size: 3em;
		display: block;
		text-align: center;
		margin-top: 10px;
	}


@media only screen and (max-width: 480px) {
	h1, #contact h1, .thanks h1  {
		font-size: 80px;
	}
	#intro {
	width: 90vw;
	margin: 0 auto;
	min-height: 200px;
}
	img {
		display: block;
		height: 40%;
		width: 40%;
		margin: 20px auto 20px auto;
		border-radius: 0;
	}
	.title {
		margin-top: 10px;
		height: 125px;
		width: 100%;
	}


}
